<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ManagedCuda-102" version="10.2.41" targetFramework="net472" />
  <package id="ManagedCuda-CUBLAS" version="10.2.41" targetFramework="net472" />
  <package id="ManagedCuda-CUFFT" version="10.2.41" targetFramework="net472" />
  <package id="ManagedCuda-NPP" version="10.2.41" targetFramework="net472" />
</packages>